</div>
<footer class="blog-footer">
        <p>Blog template Built for <a href="#">Becky</a> by <a href="#">Becky</a></p>
        <p>&copy Becky White since 1974</p>
        <p><a href="#">Back to the Top</a></p>
</footer>
</div>
</div>
</main>   