<% include partials/head %>
       
    </header>  

        <main>
            <br>
            <div class="container">              
                    <div class="row">
                            <div class="col-sm-8 blog-main">
                                <h1>A Little Bit About Me</h1>
                                    <article>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lobortis eget purus nec vehicula. Donec malesuada justo sapien, ultrices pretium erat bibendum pharetra. Praesent at scelerisque enim, et convallis orci. Nunc imperdiet felis a felis pretium, eget eleifend lorem sollicitudin. Phasellus mattis arcu justo, quis pharetra ante efficitur eu. Vivamus ac condimentum dui. Quisque suscipit consequat enim eu volutpat. Morbi ultrices et erat id rutrum. Sed in rutrum metus, id sodales erat. Nullam mi est, lacinia a faucibus sed, tempus ut felis.</p>
                                        <p>Vestibulum mauris nulla, efficitur ut tincidunt vel, elementum vitae metus. Donec volutpat eget velit ut sodales. In mollis, nisi non ullamcorper facilisis, dui velit blandit neque, et vestibulum nulla nisi ut eros. Nunc sed odio magna. Sed sagittis feugiat diam, vitae hendrerit tellus venenatis quis. Nunc quis nisi nulla. Ut tristique nisl vitae mattis eleifend. Phasellus sagittis magna in velit cursus, sit amet placerat erat sodales. Integer eros mi, pretium sit amet libero quis, fermentum tristique nulla. Etiam finibus ultricies imperdiet. Integer congue, turpis a egestas iaculis, sapien nibh condimentum risus, nec mattis lectus tellus eu tortor.</p>
                                        <p>Duis non facilisis dui, a varius justo. Proin tincidunt tempus nunc et facilisis. Pellentesque pellentesque viverra dui.Donec iaculis, sapien quis porta viverra, magna sem cursus libero, a elementum mi erat vitae quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec quis metus dignissim, dictum nulla nec, cursus ex. Morbi accumsan ullamcorper velit nec porttitor. Donec vitae venenatis orci. Suspendisse rhoncus massa nec iaculis posuere. Nunc id mollis nulla. Donec pellentesque erat nibh, in tincidunt ex fermentum at. Curabitur consectetur quam nec lacinia vestibulum. Mauris id felis non nisl sodales consequat. Vestibulum a risus purus. Maecenas nec diam ut orci venenatis tempor in et metus. Nunc sagittis odio sit amet felis pharetra placerat.</p>
                            </div>
        
                           <% include partials/aside %>
                           <% include partials/footer %>